<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9iySG8NJoG2UE3d1w-1KcIrx92T1q2Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>1003736937002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uniStay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unistay-afca2</string>
	<key>STORAGE_BUCKET</key>
	<string>unistay-afca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003736937002:ios:2ee4b3319058ab1cd00953</string>
</dict>
</plist>